<section layout-fill id="weatherPortion">
	<md-content layout-fill flex class="md-padding page-content">
    <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect flex layout="column" layout-fill md-dynamic-height>
      <md-tab ng-repeat="place in wc.exampleLocations"              
              label="{{place.name}}">
        <div class="demo-tab" style="padding: 25px; text-align: center;">          
          <md-content class="md-padding" layout-xs="column" layout="row">
		    <div flex-xs flex-gt-xs="40" layout="column" style="text-align: center;margin: 0 auto">
		      <md-card md-theme="default" md-theme-watch>
		        <md-card-title>
		          <md-card-title-text>
		            <span class="md-headline">{{place.weather[0].main}}</span>
		            <span class="md-subhead">{{place.weather[0].description}}</span>
		            <span class="md-headline">Wind</span>
		            <span class="md-subhead">Speed - {{place.wind.speed}}</span>
		            <span class="md-subhead">Degree - {{place.wind.deg}}</span>
		          </md-card-title-text>
		          <md-card-title-media>
		            <div class="md-media-lg card-media">
		            	<img ng-src="{{wc.getImageSrc(place.weather[0].icon)}}">
		            </div>
		          </md-card-title-media>
		        </md-card-title>
		        <md-card-actions layout="row" layout-align="start center">
		          <span class="md-content"> Temp <md-button>{{place.main.temp}} &#8451;</md-button></span>
		          <span class="md-content"> Pressure <md-button>{{place.main.pressure}}</md-button></span>
		          <span class="md-content"> humidity <md-button>{{place.main.humidity}}</md-button></span>
		          <span class="md-content"> Temp Max <md-button>{{place.main.temp_max}} &#8451;</md-button></span>
		          <span class="md-content"> Temp Min <md-button>{{place.main.temp_min}} &#8451;</md-button></span>
		        </md-card-actions>
		      </md-card>		      
		    </div>		    
		    </md-content>
        </div>
      </md-tab>
    </md-tabs>    
  </md-content>
  <md-content layout-gt-sm="column" layout-padding layout-align="center center">
    <div>
      <md-input-container>
        <label>Place</label>
        <input ng-model="wc.place">
      </md-input-container>

      <md-input-container>
        <md-button class="md-raised md-warn" ng-click="wc.getEachWeather(wc.place)">Get Weather</md-button>
      </md-input-container>
    </div>
  </md-content>
</section>